body{
    background-color: rgb(168, 140, 102);
}

 h3{
    display: flex;
    justify-content: center;

}


.secret {
   text-align: center;
      margin-top: 50px;
}






video {
  display: flex;
  justify-content: center;
}


.inicio:hover{
      transform: scale(1.2);
    background-color: rgb(157, 199, 199);
    font-size: 20px;

}

.inicio{
      display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #b8a37f;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}
